* {
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADINGS */
h1, h3, h4 {
    font-family: 'Arapey';
    letter-spacing: .15rem;
    font-weight: normal;
}

h1, h2 {
    letter-spacing: .25rem;
    text-align: center;
    padding: .5rem;
}

h1 {
    color: white;
    font-size: 3.5rem;
    border-bottom: 1px solid white;
}

h2 {
    color: white;
    font-size: 1.25rem;
    font-weight: 400;
}

h3 {
    color: #290628;
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem auto;
    border-bottom: 1px solid #8D818C;
}

.fancy {
    font-family: 'Nothing You Could Do';
    font-size: 4rem;
}

/* HEADER */
header {    
    background: #290628;
    padding: 1.5rem;
}

/* NAVIGATION */
nav {
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

nav a {
    background: linear-gradient(to left, #290628, #8D818C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    background: linear-gradient(to right, #290628, #8D818C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7rem;
}

/* MAIN */
main {
    margin: 2rem;
}

section {
    background-color: white;
    margin: 2.5rem auto;
    padding: 1.5rem;
    box-shadow: -20px 0 20px -20px #2A343C;
}

p {
    line-height: 1.5rem;
}

h3 span {
    background: linear-gradient(to bottom right, #290628, #8D818C, #2A343C);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}

h4 + p {
    font-style: italic;
}

h4 a, p a {
    color: #2A343C;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
}

h4 a:hover, p a:hover {
    color: #290628;
    font-size: 1.7rem;
}

ul {
    margin: 1rem;
    list-style: inside;
}

img {
    max-width: 100%;
    height: auto;
}

/* FOOTER */
footer {
    background-color: #99D5C9;
    color: white;
    text-align: center;
    padding: 1rem;
}